body{
color:white;
background-color:black;
font-family:'Trebuchet MS','Times New Roman',
}

ul
{display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items:center;
    padding: 10px;
}